:root {
    --cor-principal: #E87424;
    --bg-secundaria: #EDEDED;
    --texto-secundario: #FFFFFF;
    --texto-principal: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.conteudo__limite {
    max-width: 1440px;
    margin: 0 auto;
}

.nav__logo {
    width: 105px;
    height: 87px;
}

.nav__container {
    background-color: var(--cor-principal);
}

.nav__conteudo__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.font__serrat {
    font-family: 'Montserrat', sans-serif; 
}

.nav__lista__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.nav__logo__container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav__span {
    max-width: 200px;
}

.nav__item {
    list-style-type: none;
}

.nav__item:hover a{
    color: var(--texto-secundario);
}

.nav__item a {
    text-decoration: none;
    color: var(--texto-principal);
    font-size: 20px;
}
.nav__search {
    display: flex;
    align-items: center;
}

#searchInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#searchButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#searchButton img {
    width: 20px;
    height: 20px;
}

.header__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url("../imgs/fundo_imdaz.png") no-repeat; 
    background-size: cover;
    height: 91vh;
    color: var(--texto-secundario);
    text-align: center;
}

.header__titulo {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 100;
}

.header__subtitulo {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    width: 500px;
}

.header__botao {
    width: 250px;
    height: 70px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 35px;
    font-weight: 700;
    color: var(--texto-secundario);
    background: rgb(42,50,121);
    background: linear-gradient(0deg, rgba(42,50,121,1) 0%, rgba(78,93,223,1) 61%, rgba(78,93,223,1) 100%);
}

.container__historia {
    display: flex;
    padding: 56px;   
}

.conteudo__texto__container {
    text-align: start;
    margin-left: 30px;
}

.conteudo__titulo {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.conteudo__texto {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.7;
}

.historia__botao {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(360deg, rgba(0,0,0,0.8995973389355743) 17%, rgba(102,102,102,1) 90%);
    color: var(--texto-secundario);
    cursor: pointer;
}

.container__historia__botao {
    text-align: center;
    margin-top: 10px;
}

.historia__botao__texto {
    font-size: 20px;
    font-weight: 500;
}

.conteudo__info__container {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    background-color: var(--bg-secundaria);
    padding: 40px;
}

.info__item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.info__span {
    font-size: 36px;
    font-weight: 100;
    width: 300px;
}

.equipe__item img {
    width: 155px;
    height: 155px;
}

.equipe__lista__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
}

.equipe__titulo {
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.projeto__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 90px;
}

.bg__projetos__container {
    background-color: var(--bg-secundaria);
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.projetos__titulo {
    font-size: 48px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px;
}

.projetos__subtitulo {
    font-size: 48px;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    margin: 20px;
}

.parceiros__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 60px;
    margin-bottom: 150px;
}

.parceiros__titulo__container {
    text-align: center;
    margin: 50px 0;
    font-size: 28px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
}

.footer__container {
    background-color: var(--cor-principal);
}

.footer__conteudo__container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.footer__lista {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.footer__doc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    gap: 20px;
}

.footer__doc a {
    text-decoration: none;
    color: var(--texto-principal);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.footer__contatos__texto {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}

.contato__item img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* Estilos de Modal */
/* Estilos para os modais */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__conteudo {
    background-color: white;
    position: absolute; /* Muda para posição absoluta */
    left: 50%; /* Centraliza horizontalmente */
    top: 50%; /* Centraliza verticalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Largura em porcentagem para responsividade */
    max-width: 500px; /* Limita a largura máxima */
    border-radius: 10px; /* Bordas arredondadas */
}

/* O resto do CSS permanece inalterado */


@keyframes modal-entrada {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal__close {
    font-size: 30px;
    cursor: pointer;
    color: var(--cor-principal);
    position: absolute;
    top: 15px;
    right: 20px;
}

.modal__form input, 
.modal__form select, 
.modal__form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.modal__form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    background-color: var(--cor-principal);
    color: var(--texto-secundario);
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

.modal__form button:hover {
    background-color: #cf6a20;
}

.modal__conteudo {
    background-color: white;
    position: absolute; /* Muda para posição absoluta */
    left: 50%; /* Centraliza horizontalmente */
    top: 50%; /* Centraliza verticalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro */
    padding: 15px; /* Reduz o padding */
    border: 1px solid #888;
    width: 80%; /* Ajusta a largura para 80% */
    max-width: 400px; /* Limita a largura máxima a 400px */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estilos do modal de doação */
.modal__doacao__opcoes {
    display: flex;
    flex-direction: column; /* Mantém as opções em coluna */
    gap: 10px; /* Espaçamento entre as opções */
}

.modal__doacao__opcoes label {
    display: flex; /* Usar flexbox para alinhamento */
    flex-direction: column; /* Alinha o texto em cima e o botão embaixo */
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 500;
}

.modal__doacao__opcoes input[type="radio"] {
    margin-top: 5px; /* Adiciona espaço entre o texto e o botão */
}

/* Mudando o layout para coluna e ajustando o espaçamento para opções de pagamento */
.modal__pagamento {
    display: flex;
    flex-direction: column; /* Coloca as opções de pagamento em coluna */
    gap: 10px; /* Espaçamento entre as opções de pagamento */
    margin-top: 15px; /* Reduz a margem superior */
}

.modal__pagamento label {
    display: flex; /* Usar flexbox para alinhamento */
    flex-direction: column; /* Alinha o texto em cima e o botão embaixo */
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
}

.modal__pagamento input[type="radio"] {
    margin-top: 5px; /* Adiciona espaço entre o texto e o botão */
}
/* Container da barra de pesquisa */
.search__container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Estilo para o campo de texto */
#searchInput {
    width: 200px;
    padding: 8px 32px 8px 12px; /* Ajusta o padding para dar espaço à lupa */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

/* Estilo para o ícone de pesquisa */
.search__icon {
    position: absolute;
    right: 20px; /* Define a posição à direita dentro do input */
    width: 16px;
    height: 16px;
    pointer-events: none; /* Para garantir que o clique vá para o campo de input */
}

/* Ajuste de responsividade */
@media screen and (max-width:768px) {
    #searchInput {
        width: 150px;
    }
}
.slider {
    position: relative;
    width: 100%;
    max-width: 800px; /* Define uma largura máxima para o slider */
    margin: auto; /* Centraliza o slider na página */
    overflow: hidden;
}

.slide {
    display: none; /* Inicialmente escondido */
    width: 100%;
    text-align: center; /* Centraliza o texto */
}

.slide img {
    width: 100%; /* Imagem ocupa 100% da largura do slide */
    height: auto; /* Mantém a proporção */
    max-height: 500px; /* Define uma altura máxima para as imagens */
    object-fit: cover; /* Corta a imagem para preencher o espaço sem distorcer */
}

.slide_container {
    bottom: 35%;
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
}

.prev, .next {
    cursor: pointer;
    padding: 50px 10PX;
    background-color: #31303065;
    color: #FFF;
    font-size: 20px;
    border: none;
}